{% extends 'layout.html' %}

{% block body %}

	<table id="table_header">
		<tr>
			<td>
  				<h1>Bonjour {{candidat.prenom_candidat}} {{candidat.nom_candidat}}</h1>
			</td>
		</tr>
	</table>


  <div id="table_container">
  <table id="table_container">
	<FORM id="myform_question" METHOD="POST" action="{{ url_for('lancement_questionnaire')}}">
		{% for id in candidat.section_choix %}
		<tr>
			<td>
				<button class="button" type="submit" name="choix_questionnaire" value="{{id}}">{{id}}</button>
			</td>
		</tr>
		{% endfor %}
	</FORM>
    </table>
    </div>

	<a href="{{ url_for('index') }}"><button class="button retour"><span>Retour</span></button></a></td>

	<a href="{{ url_for('validation_questionnaire') }}"><button class="button valider" onclick="return confirm('Confirmer?')"><span>Valider le questionnaire</span></button></a></td>


{% endblock %}
