{% extends 'layout.html' %}

{% block body %}

	<table id="table_header">
		<tr>
			<td>
  				<h1>Quiz de compétences</h1>
				<img src="static/img/avisia.png" style="width:150px;height:25px; margin-left:60%; align:center;">
			</td>
		</tr>
	</table>


	<div class="container">

    <FORM id="myform" METHOD="POST" action="{{ url_for('candidat')}}">

	<div class="container" style="padding-top:25px;">
		<table>
			<tr>
				<td><h2>Prénom </h2></td>
				<td><h2>Nom </h2></td>
			</tr>
			<tr>
				<td> <input type="text" id="uname" required="required"  style="width:300px; height:40px;" name="nom_candidat"></td>
				<td><input type="text" id="uname" required="required" name="prenom_candidat"></td>
			</tr>
		</table>
	</div>

	<div class="container" style="padding-top:25px;">

	</div>
	
	<table id="table_choix">
    	<tr>
    		<td>
				<fieldset>
					</br>
					{% for id in section_table %}
						<input type="checkbox" id="code" name="section_choix" value="{{id}}">
						<label for="code"  style="width:150px;"><p>{{id}}</p ></label>
					{% endfor %}
					</br>
				</fieldset>
			</td>
		</tr>
	</table>

    <!--<button class="button " id="checkBtn"><span>Valider</span></button>-->
	<div class="col-md-10 text-center">
		    <button  class="btn btn-primary btn-lg" id="checkBtn">Valider </button>
	</div>

	</FORM>

	</div>

  

{% endblock %}
