<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
	{% extends 'layout.html' %}
</head>
<body>

{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">Quiz de compétences</a>
      </div>
    </nav>

	<!-- Section Choix Fonctions -->
	<FORM id="myform" METHOD="POST" action="{{ url_for('candidat')}}">
    <section class="bg-primary text-white mb-0">
      <div class="container">
        <div class="row mt-5">
          <div class="col-sm-12 col-lg-6">
			<h3 class="text-center text-uppercase text-secondary my-3 ">Prénom</h3>
			<input class="form-control" autocomplete="off" type="text" id="uname" required="required" placeholder="Entrez votre prénom" name="prenom_candidat">
          </div>
		  <div class="col-sm-12 col-lg-6">
			<h3 class="text-center text-uppercase text-secondary my-3 ">Nom</h3>
			<input class="form-control" autocomplete="off" type="text" id="uname" required="required" placeholder="Entrez votre nom" name="nom_candidat">
          </div>
		</div>

		<div class="row mt-5">
				<div class="col-md-6 mx-auto">
						<h4>Choissisez les questionnaires</h4>
					   <div class="funkyradio">
							<fieldset>
							{% for id in section_table %}
							<div class="funkyradio-success col-12"">
								<input type="checkbox" id="{{id}}" name="section_choix" value="{{id}}" ">
								<label for="{{id}}" >{{id}}	</label>
							</div>
							{% endfor %}
							</fieldset>
						</div>
				</div>
		  </div>

		  <div class="row mt-5 col-6 mx-auto">
			  <button class="btn btn-success col-12" id="checkBtn">Suivant</button>
			</div>

			

	</section>
	</FORM>

	<div class="row mt-5 col-12 mx-auto">
		<p class="text-info text-center mx-auto">Développé avec &#9825; par Avisia - 2019 - &#169;</p>
	</div>


	{% endblock %}

</body>

</html>

