<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'layout.html' %}</title>
</head>
<body>

{% block body %}

	<table id="table_header">
		<tr>
			<td>
  				<h1>Question {{section_en_cours}} {{id_question}}</h1>
			</td>
		</tr>
	</table>

	<div id="table_container">
  	<table id="table_container">
  	<FORM id="myform" METHOD="POST" action="{{ url_for('question',id_question=id_question,section_en_cours=section_en_cours)}}">
  		<tr>
				<td>
					<div id="classement_container">
						{% autoescape false %}
							{{ json_question.libelle }}
						{% endautoescape %}

						<input type="hidden" name="id_question" value="{{id_question}}">
						<input type="hidden" name="section_en_cours" value="{{section_en_cours}}">
					</div>
				</td>
		</tr>
  		<tr>
			<td>
  				<fieldset>
				{% if json_question.type == "button" %}
					{% for id in json_question.reponse.keys() %}
							{% if id == reponse_candidat_html %}
								<input type="radio" id="coding" name="choix_reponse" value="{{id}}" checked="checked">
							{% else %}
								<input type="radio" id="coding" name="choix_reponse" value="{{id}}">
							{% endif %}
								<label for="coding">
									<h2 style="font-size:30px;">
										{% autoescape false %}
											{{json_question.reponse[id]|safe}}
										{% endautoescape %}
									</h2>
								</label></BR>
					{% endfor %}

				{% elif json_question.type == "checkbox" %}
					{% for id in json_question.reponse.keys() %}
						{% if id in reponse_candidat_html %}
							<input type="checkbox" id="coding" name="choix_reponse" value="{{id}}" checked="checked">
						{% else %}
							<input type="checkbox" id="coding" name="choix_reponse" value="{{id}}">
						{% endif %}
						<label for="coding">
							<h2 style="font-size:30px;">
								{% autoescape false %}
									{{json_question.reponse[id]|safe}}
								{% endautoescape %}
							</h2>
						</label>
					</BR>
					{% endfor %}

				{% elif json_question.type == "text" %}
					<textarea name="choix_reponse" form="myform" rows="10" cols="100">{{reponse_candidat_html}}</textarea>
				{% endif %}
				</fieldset>
			</td>
		</tr>
	
    </table>
    </div>

	<button class="button valider"><span><input type="submit" form="myform"/></span></button>

	</FORM>	
	<a href="{{ url_for('candidat') }}"><button class="button retour"><span>Retour</span></button></a></td>

{% endblock %}

</body>
</html>