{% extends 'layout.html' %}

{% block body %}

	<table id="table_header">
		<tr>
			<td>
  				<h1>Bonjour {{prenom_candidat}} {{nom_candidat}}</h1>
			</td>
		</tr>
	</table>


  <div id="table_container">
  <table id="table_container">

	<FORM id="myform_question" METHOD="POST" action="{{ url_for('lancement_questionnaire')}}">

		{% for id in section_choix %}
		<tr>
			<td>
				<button class="button" type="submit" name="choix_questionnaire" value="{{df_section[df_section['id_section']==id]['id_section'].values[0]}}">{{df_section[df_section['id_section']==id]['libelle_section'].values[0]}}</button>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td>

			</td>
		</tr>

	</FORM>
    </table>
    </div>

	<a href="{{ url_for('index') }}"><button class="button retour"><span>Retour</span></button></a></td>


{% endblock %}
