{% extends 'layout.html' %}

{% block body %}
</br>
<h1>Bonjour {{prenom_candidat}} {{nom_candidat}}</h1>
</br>
  <div id="table_container_player">
    <div class="container">
    <br>
    <table>
	<FORM id="myform_question" METHOD="POST" action="{{ url_for('lancement_questionnaire')}}">

		{% for id in section_choix %}
		<tr>
			<td>
				<button type="submit" name="choix_questionnaire" value="{{df_section[df_section['id_section']==id]['id_section'].values[0]}}">{{df_section[df_section['id_section']==id]['libelle_section'].values[0]}}</button>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td>

			</td>
		</tr>

	</FORM>
    </table>
	</div>
  </div>

<footer id="footer">
  	<table id="footer">
		<tr id="tr_footer">
  			<td id="td_footer"><h3><a href="{{ url_for('index') }}"><img src="static/img/retour.png" style="width:30px;height:30px; margin: 0 15px 0 0;">Retour</a></h3></td>
 		</tr>
 	</table>
</footer>

{% endblock %}
