{% extends 'layout.html' %}

{% block body %}
  	</br>
  	<h1>La gamelle connectée</h1>
	<img src="static/img/avisia.png" style="width:150px;height:25px; margin-left:60%; align:center;">
    
    <table id="table_base" style="margin-top:10%;">
    <tr>
    <td></td>
    <td>
		<FORM id="myform" METHOD="POST" action="{{ url_for('candidat')}}">
			<h2 style="font-size:30px;">Nom : </h2>
			<input type="text" id="uname" name="nom_candidat">
			</BR>
			<h2 style="font-size:30px;">Prénom : </h2>
			<input type="text" id="uname" name="prenom_candidat">
			</BR>
			</BR>
			<fieldset>
				{% for id in section_table.index %}
					<input type="checkbox" id="coding" name="section_choix" value="{{section_table.loc[id].id_section}}">
				<label for="coding"><h2 style="font-size:30px;">{{section_table.loc[id].libelle_section}}</h2></label></BR>
				{% endfor %}
			</fieldset>

    		<button><img src="static/img/start.png" style="width:300px;height:300px; margin:auto;"></button>
		</FORM>
	</td>
  	</tr>
  	</table>
  

{% endblock %}
