<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'layout.html' %}</title>
</head>
<body>

{% block body %}

	<table id="table_header">
		<tr>
			<td>
  				<h1>Question {{json_question['ref_id_section']}}</h1>
			</td>
		</tr>
	</table>

	<div id="table_container">
  	<table id="table_container">
  	<FORM id="myform" METHOD="POST" action="{{ url_for('question',id_question=json_question['id_question'])}}">
  		
  		<tr>
				<td>
					<div id="classement_container">
						<input type="text" name="libelle_question" value="{{ json_question['libelle_question'] }}" readonly>
						<input type="text" name="id_question" value="{{json_question['id_question']}}" readonly>
						<input type="text" name="id_section" value="{{json_question['ref_id_section']}}" readonly>
					</div>
				</td>
		</tr>
  		
  		<tr>
			<td>
  				<fieldset>
				{% for id in json_question['liste_reponses_questions'].keys() %}
						{% if id == reponse_candidat_html %}
							<input type="radio" id="coding" name="choix_reponse" value="{{id}}" checked="checked">
						{% else %}
							<input type="radio" id="coding" name="choix_reponse" value="{{id}}">
						{% endif %}
						<label for="coding"><h2 style="font-size:30px;">{{json_question['liste_reponses_questions'][id]}}</h2></label></BR>


				{% endfor %}
				</fieldset>
			</td>
		</tr>
	
    </table>
    </div>

	<a href="{{ url_for('index') }}"><button class="button retour"><span>Retour</span></button></a></td>
	<button class="button valider"><span><input type="submit" form="myform"/></span></button>

	</FORM>	

{% endblock %}

</body>
</html>